*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box; 
}

body{
    width: 100vw;
    height:100vh;
    background-color: black;
    background-image: url("img/cidade-invisivel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
}
header{
    
    background-color:#000000AA;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    padding: 0 10vw;
   

}
.logo img {
    width: 120px;
}
.links ul{
   display:flex;
   gap: 20px;
   color: white;
   list-style-type: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;
}
.links a:hover{
    color: red;
}
nav a {
    color:white
    text-decoration: none ;
}
nav ul , li {
    list-style-type : none;
}
    main{
        flex-grow:1;
}
footer{
    height:30px;
}
  