*{
    margin: 0;
    padding: 0;
    box-sizing: boder-box; 
}

body{
    width: 100vw;
    height:100vh;
    background-color: black;
    background-image: url("img/cidade-invisivel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
}
header{
    height: 70px;
    background-color:#000000AA;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10%;
    padding: 0 10%;
    padding: 1% 2% 5% 1%;
}

.logo img {
    height: 50px;
}
nav ul{
   display:flex;
   gap: 20px;
}
nav a {
    color:white
    text-decoration: none ;
}
nav ul , li {
    list-style-type : none;
}
    main{
        flex-grow:1;
}
footer{
    height:30px;
}
  